<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">
    <update id="update" parameterType="com.sky.entity.Orders">
        update orders
        <set>
            <if test="cancelReason != null and cancelReason!='' ">
                cancel_reason=#{cancelReason},
            </if>
            <if test="rejectionReason != null and rejectionReason!='' ">
                rejection_reason=#{rejectionReason},
            </if>
            <if test="cancelTime != null">
                cancel_time=#{cancelTime},
            </if>
            <if test="payStatus != null">
                pay_status=#{payStatus},
            </if>
            <if test="payMethod != null">
                pay_method=#{payMethod},
            </if>
            <if test="checkoutTime != null">
                checkout_time=#{checkoutTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="deliveryTime != null">
                delivery_time = #{deliveryTime}
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateStatus">
        update orders
        <set>
            <if test="status != null">status = #{status},</if>
            <if test="payStatus != null">pay_status = #{payStatus},</if>
            <if test="checkoutTime != null">checkout_time = #{checkoutTime}</if>
        </set>
        where number=#{number}
    </update>

    <select id="queryOrders" resultType="com.sky.entity.Orders">
        select
        *
        from orders
        <where>
            <if test="status != null">status = #{status}</if>
            <if test="userId != null">and user_id = #{userId}</if>
        </where>
        order by order_time desc
    </select>

    <select id="pageQuery" resultType="com.sky.entity.Orders">
        select *
        from orders
        <where>
            <if test="status != null">status = #{status}</if>
            <if test="number != null">and number = #{number}</if>
            <if test="phone != null and phone != ''">and phone = #{phone}</if>
            <if test="beginTime != null and endTime != null">and order_time between #{beginTime} and #{endTime}</if>
        </where>
    </select>

    <select id="countOrder" resultType="java.lang.Integer">
        select count(*)
        from orders
        <where>
            <if test="begin != null">order_time &gt; #{begin}</if>
            <if test="end != null">and order_time &lt; #{end}</if>
            <if test="status != null">and status = #{status}</if>
        </where>
    </select>

    <select id="getSalesTop10" resultType="com.sky.dto.GoodsSalesDTO">
        SELECT
            od.`name` AS name,
            sum( od.`number` ) AS number
        FROM
            orders o
                LEFT JOIN order_detail od ON o.id = od.order_id
        WHERE
            o.order_time BETWEEN #{pre}
                AND #{next}
          AND o.STATUS = 5
        GROUP BY
            od.NAME
        ORDER BY
            number DESC
        LIMIT 0,
            10
    </select>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from orders
        <where>
            <if test="status != null">
                status = #{status}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>

    <select id="turnover" resultType="java.lang.Double">
        select sum(amount) from orders
        <where>
            <if test="begin != null">order_time &gt; #{begin}</if>
            <if test="end != null">and order_time &lt; #{end}</if>
            <if test="status != null"> and status = #{status} </if>
        </where>
    </select>

</mapper>
